@charset "UTF-8";
		body {
        	font-family: Arial, sans-serif;
        	background: rgb(66,184,131);
			background: linear-gradient(148deg, rgba(66,184,131,1) 0%, rgba(52,116,116,1) 45%, rgba(53,73,94,1) 100%);
			background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
			margin: 0;
			padding: 0;
			color: white;
        }
        
        * {
        	margin-top: 0;
        	margin-bottom: 0;
        	padding-top: 0;
        	padding-bottom: 0;
        }
        
        h1 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
        
        table {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.button {
			background-color: #ff7e67;
  			color: white;
  			padding: 15px 0;
  			text-decoration: none;
  			border: none;
  			border-radius: 15px;
  			width: 30vh;
  			font-weight: bold;
  			display: flex;
  			align-items: center;
  			justify-content: center;
  			text-align: center;
  			margin: 0 auto;
		}
    
		.button:hover {
			background-color: #f2f2f2;
			color: black
		}
		
		.center-button {
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		margin: 0 auto;
		}
		
	
		input[type="text"] {
			height: 3vh;
			width: 30vh;
			border: none;
			border-radius: 7px;
			box-shadow: none;
			margin-bottom: 2px;
			padding: 10px 18px;
		}

		input[type="submit"] {
    		margin: 0 auto;
		}
		
		form {
			padding-top: 5vh;	
		}
		
		.form-container {
			padding: 18vh;
		}